@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blur {
  box-shadow: inset 0 -1px 0 0 #eaeaea;
  transform: translateZ(0);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0, 0%, 100%, 0.8);
}
